* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.strap {
    background-color: #3B3B3B;

    padding: 1px;
    border-radius: 40px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;
    border-radius: 25px;
    height: 270px;
    width: 250px;
}



/* ----------------------------------------------------------- */

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    color:whitesmoke;
    height: 12%;

}

.content {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:70%
}

.foot {

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 25px 25px ;

    height: 18%;

}

/* menu items----------------------------------------------------------- */

.menu-left > i {
 color: rgba(255, 255, 255, 0.4);
}

.menu-centre > i{

}

.menu-right > i{
    color: rgba(255, 255, 255, 0.4);
}

i{
    color: white;
}


/* styles starts from here----------------------------------------------------------- */


.music-bar {
  color: rgb(255, 255, 255);
   width: 95%;
    display: flex;
    flex-direction: column;
    
}

.music-list{
    width: 100%;
    
    
    color:white;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-items: start;
   
}

.songs{
    margin: 0px 0px 1% 3%;
    width: 92%;
    
    background-color:rgba(156, 156, 156, 0.185);   
}



.music-control-bar{

}


/* album bar----------------------------------------------------------- */

.album{
    display: flex;
    flex-direction:row;
    padding:5px;

   
}

.album-image img{
    border-radius:10px 10px 0px 10px;
    height:40px;
}

.album-info{
    width:100%;
    justify-content:center;
    
    padding-left: 20px;
    display: flex;
    flex-direction:column;
    
}

.album-name{
    font-size: 15px;
}
.artist-name{
    font-size: 10px;;
}

.music-list{
    height: 50%;
}

.music-control-bar{
    height: 20%;
    width:80%
}
.controls{
    
    display: flex;
    justify-content:space-around;
   
}

/* progress bar -------------------------------------------------------------------- */
.progress-bar{
    position: relative;
    height:50%;
    display: flex;
    align-items:center;
    justify-content: center;
    
}


.bar{
    
    height: 2px;
    width:100%;
    border: 1px solid rgba(173, 172, 172, 0.322);
    border-radius: 25px;

}

.progress{
    position: absolute;
    left: 0;
    height: 2px;
    width:10%;
    background-color: white;

}






